<header aria-label="page caption" class="flex-none flex h-16 bg-gray-200 border-t px-4 items-center">
  <h1 id="page-caption" class="font-semibold text-lg">List Bahan</h1>
  <div class="ml-auto">
    <button type="button" (click)="onAdd()" class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded">
      Add
    </button>
  </div>
</header>
<section aria-label="main content" class="flex flex-col flex-auto border-l py-2 px-2 h-full">
  <!--mode Global-->
  <div class="mx-2 mt-2 bg-white flex flex-col">
    <div class="flex flex-row md:flex-row mb-1 sm:mb-0 gap-2">
      per Page:
      <div class="relative">
        <select (change)="handlePageSizeChange()" [(ngModel)]="selectedPageSize" class="appearance-none h-full rounded-l border block w-full bg-white border-gray-400 text-gray-700 py-2 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
          <option *ngFor="let b of dataBaris" [ngValue]="b">
            {{ b }}
          </option>
        </select>
      </div>
      <div class="block relative">
        <span class="h-full absolute inset-y-0 left-0 flex items-center pl-2">
          <svg viewBox="0 0 24 24" class="h-4 w-4 fill-current text-gray-500">
            <path d="M10 4a6 6 0 100 12 6 6 0 000-12zm-8 6a8 8 0 1114.32 4.906l5.387 5.387a1 1 0 01-1.414 1.414l-5.387-5.387A8 8 0 012 10z"></path>
          </svg>
        </span>
        <input [(ngModel)]="search" (input)="handleSearch()" placeholder="Search" class="appearance-none rounded-r border block pl-8 pr-6 py-2 w-full bg-white text-sm placeholder-gray-400 text-gray-700 focus:bg-white focus:placeholder-gray-600 focus:text-gray-700 focus:outline-none" />
      </div>
    </div>
  </div>
  <!--mode Desktop-->
  <div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4">
    <div class="overflow-hidden">
      <div class="inline-block min-w-full shadow rounded-lg overflow-hidden">
        <table class="min-w-full leading-normal">
          <thead class="sticky">
            <tr>
              <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">#</th>
              <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">ID</th>
              <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">Nama Bahan</th>
              <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">ID Jenis</th>
              <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">Ukuran</th>
              <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">Keterangan</th>
              <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">Created By</th>
              <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">Created Date</th>
              <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">Edited By</th>
              <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">Aksi</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let ritem of dataBahan; index as i">
              <td class="px-5 py-3 border-b border-gray-200 bg-white text-sm">{{ (pageSize * (page - 1) + i) + 1}}</td>
              <td class="px-5 py-3 border-b border-gray-200 bg-white text-sm">{{ ritem.item_code }}</td>
              <td class="px-5 py-3 border-b border-gray-200 bg-white text-sm">{{ ritem.item_name }}</td>
              <td class="px-5 py-3 border-b border-gray-200 bg-white text-sm">{{ ritem.id_jenis }}</td>
              <td class="px-5 py-3 border-b border-gray-200 bg-white text-sm">{{ ritem.ukuran }}</td>
              <td class="px-5 py-3 border-b border-gray-200 bg-white text-sm">{{ ritem.keterangan }}</td>
              <td class="px-5 py-3 border-b border-gray-200 bg-white text-sm">{{ ritem.created_by }}</td>
              <td class="px-5 py-3 border-b border-gray-200 bg-white text-sm">{{ ritem.created_date }}</td>
              <td class="px-5 py-3 border-b border-gray-200 bg-white text-sm"> {{ ritem.updated_by }}</td>
              <td class="px-5 py-3 border-b border-gray-200 bg-white text-sm">
                <button (click)="onEdit(ritem.id)" class="relative align-middle select-none font-sans font-medium text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none w-10 max-w-[40px] h-10 max-h-[40px] rounded-lg text-xs text-blue-gray-500 hover:bg-blue-gray-500/10 active:bg-blue-gray-500/30" type="button">
                  <span class="absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="w-6 h-6 text-blue-400"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 
                        2.828L11.828 15H9v-2.828l8.586-8.586z"
                      />
                    </svg>
                  </span>
                </button>
                <button (click)="onDeletedby(ritem.id)" class="relative align-middle select-none font-sans font-medium text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none w-10 max-w-[40px] h-10 max-h-[40px] rounded-lg text-xs text-blue-gray-500 hover:bg-blue-gray-500/10 active:bg-blue-gray-500/30" type="button">
                  <span class="absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="w-6 h-6 text-red-400"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 
                        4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"
                      />
                    </svg>
                  </span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="px-5 bg-white flex flex-col sm:flex-row items-center sm:justify-between">
          <span class="text-xs sm:text-sm text-gray-900">
            Showing {{ (currentPage - 1) * pageSize + 1 }} to
            {{ currentPage * pageSize > totalPages ? totalPages : currentPage * pageSize }} of {{ totalPages }} Entries
          </span>
          <div class="items-start">
            <button (click)="handlePrev()" class="text-sm bg-gray-300 hover:bg-gray-400 text-gray-800 font-semibold py-2 px-4 rounded-l">Prev</button>
            <button (click)="handleNext()" class="text-sm bg-gray-300 hover:bg-gray-400 text-gray-800 font-semibold py-2 px-4 rounded-r">Next</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
