<header aria-label="page caption" class="flex-none flex h-16 bg-gray-200 border-t px-4 items-center">
  <h1 id="page-caption" class="font-semibold text-lg">{{mode ? 'Edit' : 'Add'}} Bahan</h1>
</header>
<section aria-label="main content" class="flex flex-col flex-auto border-l py-2 px-4 h-full mt-2">
  <div *ngIf="isNongolMessage" class="fixed top-4 right-4 bg-blue-500 text-white px-4 py-2 rounded shadow-lg">
    {{ messageText }}
  </div>
  <div class="w-full p-4 bg-white shadow-2xl rounded-xl">
    <form class="flex flex-col" #bahanForm="ngForm">
      <div class="form-group flex flex-col gap-4 md:flex-row">
        <div class="flex flex-col gap-2 w-full">
          <label class="text-gray-700" for="id_jenis">Pilih Jenis Bahan</label>
          <select
            class="p-2 border-2 rounded-lg shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"
            [(ngModel)]="bahan.id_jenis" name="id_jenis" class="p-2 border-2 rounded-lg ng-untouched ng-pristine ng-valid" id="floatingInput"
          >
              <option *ngFor="let item of selectDataJenisBahan" [ngValue]="item.id">
                {{ item.nama_jenis }}
              </option>
          </select>
        </div>
      </div>
      <div class="form-group flex flex-col gap-4 md:flex-row">
        <div class="flex flex-col gap-2 w-full">
          <label class="text-gray-700" for="item_code">Kode Item</label>
          <input
            required
            id="item_code"
            type="text"
            class="p-2 border-2 rounded-lg"
            [(ngModel)]="bahan.item_code"
            name="item_code"
            #item_code="ngModel"
            [ngClass]="{'border-red-500': item_code.touched && item_code.invalid}"
          >
          <div *ngIf="item_code.touched && item_code.invalid" class="text-red-500 text-sm">
            Kode Item is required.
          </div>
        </div>
        <div class="flex flex-col gap-2 w-full">
          <label class="text-gray-700" for="item_name">Nama Item</label>
          <input
            required
            id="item_name"
            type="text"
            class="p-2 border-2 rounded-lg"
            [(ngModel)]="bahan.item_name"
            name="item_name"
            #item_name="ngModel"
            [ngClass]="{'border-red-500': item_name.touched && item_name.invalid}"
          >
          <div *ngIf="item_name.touched && item_name.invalid" class="text-red-500 text-sm">
            Nama Item is required.
          </div>
        </div>
      </div>
      
      <div class="form-group flex flex-col gap-4 md:flex-row">
        <div class="flex flex-col gap-2 w-full">
          <label class="text-gray-700" for="ukuran">Ukuran</label>
          <input
            required
            id="ukuran"
            type="text"
            class="p-2 border-2 rounded-lg"
            [(ngModel)]="bahan.ukuran"
            name="ukuran"
            #ukuran="ngModel"
            [ngClass]="{'border-red-500': ukuran.touched && ukuran.invalid}"
          >
          <div *ngIf="ukuran.touched && ukuran.invalid" class="text-red-500 text-sm">
            Ukuran is required.
          </div>
        </div>
        <div class="flex flex-col gap-2 w-full">
          <label class="text-gray-700" for="keterangan">Keterangan</label>
          <input
            required
            id="keterangan"
            type="text"
            class="p-2 border-2 rounded-lg"
            [(ngModel)]="bahan.keterangan"
            name="keterangan"
            #keterangan="ngModel"
            [ngClass]="{'border-red-500': keterangan.touched && keterangan.invalid}"
          >
          <div *ngIf="keterangan.touched && keterangan.invalid" class="text-red-500 text-sm">
            Keterangan is required.
          </div>
        </div>
      </div>
      <!-- Buttons -->
      <div *ngIf="!visible" class="mt-2">
        <button 
          (click)="onCancel()" 
          type="button" 
          class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500"
        >
          Cancel
        </button>
        <button 
          (click)="onSimpan(bahanForm)" 
          type="button" 
          class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-green-600 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500 ml-2"
        >
          Simpan
        </button>
      </div>
      <div *ngIf="visible" class="mt-2">
        <button 
          (click)="onCancel()" 
          type="button" 
          class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500"
        >
          Cancel
        </button>
        <button 
          (click)="onUpdate(bahanForm)" 
          type="button" 
          class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 ml-2"
        >
          Update
        </button>
      </div>
    </form>
  </div>
</section>
