<header aria-label="page caption" class="flex-none flex h-16 bg-gray-200 border-t px-4 items-center">
  <h1 id="page-caption" class="font-semibold text-lg">{{mode ? 'Edit' : 'Add'}} Jenis Bahan</h1>
</header>
<section aria-label="main content" class="flex flex-col flex-auto border-l py-2 px-4 h-full mt-2">
  <div *ngIf="isNongolMessage" class="fixed top-4 right-4 bg-blue-500 text-white px-4 py-2 rounded shadow-lg">
    {{ messageText }}
  </div>
  <div class="w-full p-4 bg-white shadow-2xl rounded-xl">
    <form class="flex flex-col" #jenisbahanForm="ngForm">
      <div class="form-group flex flex-col gap-4 md:flex-row">
        <div class="flex flex-col gap-2 w-full">
          <label class="text-gray-700" for="nama_jenis">Nama Jenis Bahan</label>
          <input
            required
            id="nama_jenis"
            type="text"
            class="p-2 border-2 rounded-lg"
            [(ngModel)]="jenisbahan.nama_jenis"
            name="nama_jenis"
            #nama_jenis="ngModel"
            [ngClass]="{'border-red-500': nama_jenis.touched && nama_jenis.invalid}"
          >
          <div *ngIf="nama_jenis.touched && nama_jenis.invalid" class="text-red-500 text-sm">
            Nama Jenis bahan is required.
          </div>
        </div>
      </div>
  
      <!-- Buttons -->
      <div *ngIf="!visible" class="mt-2">
        <button 
          (click)="onCancel()" 
          type="button" 
          class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500"
        >
          Cancel
        </button>
        <button 
          (click)="onSimpan(jenisbahanForm)" 
          type="button" 
          class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-green-600 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500 ml-2"
        >
          Simpan
        </button>
      </div>
      <div *ngIf="visible" class="mt-2">
        <button 
          (click)="onCancel()" 
          type="button" 
          class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500"
        >
          Cancel
        </button>
        <button 
          (click)="onUpdate(jenisbahanForm)" 
          type="button" 
          class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 ml-2"
        >
          Update
        </button>
      </div>
    </form>
  </div>
</section>
