<header aria-label="page caption" 
  class="flex-none flex h-12 bg-gray-200 border-t px-4 items-center justify-between">
  <h1 id="page-caption" class="font-bold text-lg">Info Project, Detail Projek dan Item Bahan</h1>
  <button 
    (click)="openModal()" 
    class="px-4 py-2 bg-blue-600 text-white rounded-lg shadow hover:bg-blue-700 transition"
  >
    Add Detail Projek
  </button>
</header>

<section aria-label="main content" class="flex flex-col flex-auto border-l py-4 h-full">
  <!-- Info Header Project -->
  <div class="bg-white rounded-xl shadow-lg border border-gray-200 w-full mb-4">
    <!-- Card Header -->
    <div class="bg-gradient-to-r from-teal-500 to-teal-600 text-white px-6 py-3">
      <h2 class="text-lg font-semibold">Info Header Project</h2>
    </div>

    <!-- Content -->
    <div *ngIf="dataProjek" class="px-6 py-4">
      <form class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
        <!-- No Project -->
        <div>
          <label class="block text-gray-600 text-sm font-semibold mb-1">No Project</label>
          <input 
            type="text" 
            class="w-full border rounded-lg p-2 bg-gray-100 text-blue-600" 
            [value]="dataProjek?.no_project" 
            readonly
          />
        </div>
        <!-- Tgl Project -->
        <div>
          <label class="block text-gray-600 text-sm font-semibold mb-1">Tgl Project</label>
          <input 
            type="text" 
            class="w-full border rounded-lg p-2 bg-gray-100 text-blue-600" 
            [value]="formatTglView(dataProjek?.tgl_project)" 
            readonly
          />
        </div>
        <!-- Keterangan Project -->
        <div>
          <label class="block text-gray-600 text-sm font-semibold mb-1">Keterangan Project</label>
          <input 
            type="text" 
            class="w-full border rounded-lg p-2 bg-gray-100 text-blue-600" 
            [value]="dataProjek?.ket_project" 
            readonly
          />
        </div>
        <!-- Nama Customer -->
        <div>
          <label class="block text-gray-600 text-sm font-semibold mb-1">Nama Customer</label>
          <input 
            type="text" 
            class="w-full border rounded-lg p-2 bg-gray-100 text-blue-600" 
            [value]="dataProjek?.nama_customer" 
            readonly
          />
        </div>
        <!-- Alamat Customer -->
        <div>
          <label class="block text-gray-600 text-sm font-semibold mb-1">Alamat Customer</label>
          <input 
            type="text" 
            class="w-full border rounded-lg p-2 bg-gray-100 text-blue-600" 
            [value]="dataProjek?.addr_customer" 
            readonly
          />
        </div>
        <!-- Kontak Customer -->
        <div>
          <label class="block text-gray-600 text-sm font-semibold mb-1">Kontak Customer</label>
          <input 
            type="text" 
            class="w-full border rounded-lg p-2 bg-gray-100 text-blue-600" 
            [value]="dataProjek?.contact_customer" 
            readonly
          />
        </div>

      </form>
    </div>
  </div>
  <!-- Bagian konten lain -->
  <div class="flex flex-wrap">
    <!-- table detail project-->
    <div class="flex flex-col flex-auto border-l py-2">
      <div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4">
        <!-- Add overflow-x-auto to enable horizontal scrolling -->
        <div class="overflow-x-auto">
          <div class="inline-block min-w-full bg-white shadow-lg rounded-lg">
            <table class="min-w-full leading-normal text-sm md:text-base">
              <thead class="bg-gradient-to-r from-cyan-500 to-blue-500 text-white sticky top-0 z-10">
                <tr >
                  <th class="px-4 py-3 text-left text-sm font-bold tracking-wide">#</th>
                  <th class="px-4 py-3 text-left text-sm font-bold tracking-wide">Lantai</th>
                  <th class="px-4 py-3 text-left text-sm font-bold tracking-wide">Ruangan</th>
                  <th class="px-4 py-3 text-left text-sm font-bold tracking-wide">Bed</th>
                  <th class="px-4 py-3 text-left text-sm font-bold tracking-wide">Lebar</th>
                  <th class="px-4 py-3 text-left text-sm font-bold tracking-wide">Tipe</th>
                  <th class="px-4 py-3 text-left text-sm font-bold">L-Room</th>
                  <th class="px-4 py-3 text-left text-sm font-bold">P-Room</th>
                  <th class="px-4 py-3 text-left text-sm font-bold">T-Room</th>
                  <th class="px-4 py-3 text-left text-sm font-bold tracking-wide">Stik</th>
                  <th class="px-4 py-3 text-left text-sm font-bold tracking-wide">Elevasi</th>
                  <th class="px-4 py-3 text-left text-sm font-bold tracking-wide">T-Lipatan</th>
                  <th class="px-4 py-3 text-left text-sm font-bold tracking-wide">T-Vitrase</th>
                  <th class="px-4 py-3 text-left text-sm font-bold tracking-wide">Pembagi</th>
                  <th class="px-4 py-3 text-left text-sm font-bold tracking-wide">Aksi</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let ritem of dataDetailProjek; let i = index">
                  <!-- Row utama -->
                  <tr class="border-b bg-gray-100">
                    <td class="px-2 py-3">{{ (pageSize * (currentPage - 1) + i) + 1 }}</td>
                    <td class="px-3 py-3">{{ ritem.lantai }}</td>
                    <td class="px-3 py-3">{{ ritem.ruangan }}</td>
                    <td class="px-3 py-3">{{ ritem.bed }}</td>
                    <td class="px-3 py-3">{{ ritem.lebar_bahan }}</td>
                    <td class="px-3 py-3">{{ ritem.tipe }}</td>
                    <td class="px-3 py-3">{{ ritem.uk_room_l }}</td>
                    <td class="px-3 py-3">{{ ritem.uk_room_p }}</td>
                    <td class="px-3 py-3">{{ ritem.uk_room_t }}</td>
                    <td class="px-3 py-3">{{ ritem.stik }}</td>
                    <td class="px-3 py-3">{{ ritem.elevasi }}</td>
                    <td class="px-3 py-3">{{ ritem.tinggi_lipatan }}</td>
                    <td class="px-3 py-3">{{ ritem.tinggi_vitrase }}</td>
                    <td class="px-3 py-3">{{ ritem.nilai_pembagi }}</td>
                    <td class="px-3 py-3 border-b border-gray-200 bg-white text-sm text-center">
                      <div class="flex items-center justify-center gap-2">
                        <!-- Tombol Expand -->
                        <!-- <button (click)="toggleSubtable(ritem.id)" title="View Detail Bahan"
                          class="w-10 h-10 flex items-center justify-center rounded-lg text-blue-gray-500 hover:bg-blue-gray-500/10 active:bg-blue-gray-500/30">
                          <ng-container *ngIf="ritem.expanded; else hideIcon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="fill-red-500">
                              <path d="M12 9a3.02 3.02 0 0 0-3 3c0 1.642 1.358 3 3 3 1.641 0 3-1.358 3-3 0-1.641-1.359-3-3-3z"></path>
                              <path d="M12 5c-7.633 0-9.927 6.617-9.948 6.684L1.946 12l.105.316C2.073 12.383 4.367 19 12 19s9.927-6.617 9.948-6.684l.106-.316-.105-.316C21.927 11.617 19.633 5 12 5z"></path>
                            </svg>
                          </ng-container>
                          <ng-template #hideIcon>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgb(221, 38, 197)"><path d="M12 4.998c-1.836 0-3.356.389-4.617.971L3.707 2.293 2.293 3.707l3.315 3.316c-2.613 1.952-3.543 4.618-3.557 4.66l-.105.316.105.316C2.073 12.382 4.367 19 12 19c1.835 0 3.354-.389 4.615-.971l3.678 3.678 1.414-1.414-3.317-3.317c2.614-1.952 3.545-4.618 3.559-4.66l.105-.316-.105-.316c-.022-.068-2.316-6.686-9.949-6.686zM4.074 12c.103-.236.274-.586.521-.989l5.867 5.867C6.249 16.23 4.523 13.035 4.074 12zm9.247 4.907-7.48-7.481a8.138 8.138 0 0 1 1.188-.982l8.055 8.054a8.835 8.835 0 0 1-1.763.409zm3.648-1.352-1.541-1.541c.354-.596.572-1.28.572-2.015 0-.474-.099-.924-.255-1.349A.983.983 0 0 1 15 11a1 1 0 0 1-1-1c0-.439.288-.802.682-.936A3.97 3.97 0 0 0 12 7.999c-.735 0-1.419.218-2.015.572l-1.07-1.07A9.292 9.292 0 0 1 12 6.998c5.351 0 7.425 3.847 7.926 5a8.573 8.573 0 0 1-2.957 3.557z"></path></svg>
                            </ng-template>
                        </button> -->
                                
                        <!-- Tombol Edit -->
                        <button (click)="onModalEdit(ritem.id)" title="Edit Detail Projek"
                          class="w-10 h-10 flex items-center justify-center rounded-lg text-blue-gray-500 hover:bg-blue-gray-500/10 active:bg-blue-gray-500/30">
                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="fill-pink-500">
                            <path d="M3 17.25V21h3.75l11.064-11.064-3.75-3.75L3 17.25zm18-10.773a.75.75 0 0 0 0-1.06L18.583 3.5a.75.75 0 0 0-1.06 0L15 6.023l3.75 3.75L21 6.477z"></path>
                          </svg>
                        </button>
                        <button (click)="onDeleted(ritem.id)" title="Hapus" class="relative align-middle select-none font-sans font-medium text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none w-10 max-w-[40px] h-10 max-h-[40px] rounded-lg text-xs text-blue-gray-500 hover:bg-blue-gray-500/10 active:bg-blue-gray-500/30" type="button">
                          <span class="absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M5 20a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V8h2V6h-4V4a2 2 0 0 0-2-2H9a2 2 0 0 0-2 2v2H3v2h2zM9 4h6v2H9zM8 8h9v12H7V8z"></path><path d="M9 10h2v8H9zm4 0h2v8h-2z"></path></svg>
                          </span>
                        </button>
                      </div>
                    </td>
                  </tr>

                  <!-- Row tambahan untuk card (langsung tampil tanpa toggle) -->
                  <tr>
                    <td colspan="15" class="p-4 bg-gray-50">
                      <div class="bg-white rounded-lg shadow-md border p-4">
                        <!-- Grid 3 kolom -->
                        <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
                          
                          <!-- Kebutuhan Kain -->
                          <div class="bg-white rounded-xl shadow p-3">
                            <h3 class="font-semibold mb-2">Kebutuhan Kain</h3>
                            <table class="w-full text-sm border">
                              <thead class="bg-cyan-300">
                                <tr>
                                  <th class="p-2">Lebar</th>
                                  <th class="p-2">Tinggi</th>
                                  <th class="p-2">Panel</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let kain of dataKebKain[ritem.id] || []; let j = index">
                                 <td class="p-2">{{ kain.lebar_total }}</td>
                                  <td class="p-2">{{ kebtinggi[ritem.id] }}</td>
                                  <td class="p-2">{{ kain.panel || '-' }}</td>
                                </tr>
                              </tbody>
                            </table>
                          </div>

                          <!-- Kebutuhan PVC -->
                          <div class="bg-white rounded-xl shadow p-3">
                            <h3 class="font-semibold mb-2">Kebutuhan PVC</h3>
                            <table class="min-w-full text-sm border border-gray-300">
                              <thead class="bg-cyan-300">
                                <tr>
                                  <th class="text-left p-2">Lebar</th>
                                  <th class="text-left p-2">Tinggi</th>
                                  <th class="text-left p-2">Kebutuhan PVC</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let kain of dataKebKain[ritem.id] || []; let i = index">
                                  <td class="p-2">{{ kain.lebar_total }}</td>
                                  <td class="p-2">{{ kain.tinggi_kain }}</td>
                                  <td class="p-2">{{ kain.kebutuhan_kain_split || '-'}}</td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                          <!-- Kebutuhan Vitrase -->
                          <div class="bg-white rounded-xl shadow p-3">
                            <h3 class="font-semibold mb-2">Kebutuhan Vitrase</h3>
                            <table class="min-w-full text-sm border border-gray-300">
                              <thead class="bg-cyan-300">
                                <tr>
                                  <th class="text-left p-2">Lebar Total</th>
                                  <th class="text-left p-2">Tinggi Vitrase</th>
                                  <th class="text-left p-2">Kebutuhan Vitrase</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let vitrase of dataKebVitrase[ritem.id] || []; let i = index">
                                  <td class="p-2">{{ vitrase.lebar_total }}</td>
                                  <td class="p-2">{{ vitrase.tinggi_vitrase }}</td>
                                  <td class="p-2">{{ vitrase.kebutuhan_kain_vitrase || '-' }}</td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                        <!-- Kebutuhan Material -->
                        <div class="bg-white rounded-xl shadow p-3">
                          <h3 class="font-semibold mb-2">Kebutuhan Relnya</h3>

                          <div class="grid grid-cols-1 md:grid-cols-2 gap-3">
                            <ng-container *ngFor="let entry of totKebutuhanRel | keyvalue">
                              <div *ngFor="let row of entry.value | keyvalue">
                                <label class="text-sm text-gray-600">
                                  {{ materialLabels[entry.key] || entry.key }} 
                                  ({{ row.value.itemName }})
                                </label>

                                <!-- Kalau otomatis, tampil readonly -->
                                <input *ngIf="!isManualQty(entry.key)"
                                  type="text" 
                                  [value]="row.value.total"
                                  readonly
                                  class="w-full border rounded-md px-2 py-1 bg-gray-100">

                                <!-- Kalau manual, tampil input editable -->
                                <input *ngIf="isManualQty(entry.key)"
                                  type="number"
                                  [(ngModel)]="row.value.total"
                                  name="qty_{{entry.key}}_{{row.key}}"
                                  class="w-full border rounded-md px-2 py-1"
                                  placeholder="Masukkan qty manual">
                              </div>
                            </ng-container>
                          </div>
                        </div>


                        <!-- Footer tombol aksi -->
                        <!-- <div class="flex justify-between gap-2 mt-4">
                          <button (click)="addDetailBahan(ritem.id)" class="flex-1 bg-green-600 text-white py-2 rounded-md">
                            <i class="fas fa-plus mr-2"></i> Add Detail Bahan
                          </button>
                          <button (click)="editDetailBahan(ritem.id)" class="flex-1 bg-blue-600 text-white py-2 rounded-md">
                            <i class="fas fa-edit mr-2"></i> Edit Detail Bahan
                          </button>
                        </div> -->
                        <div class="mt-4">
                          <button
                            (click)="hasDetailBahan(ritem.id) ? editDetailBahan(ritem.id) : addDetailBahan(ritem.id)"
                            class="w-full px-4 py-2 rounded-xl shadow-md text-white font-medium transition duration-200"
                            [ngClass]="hasDetailBahan(ritem.id) 
                                          ? 'bg-amber-500 hover:bg-amber-600' 
                                          : 'bg-teal-600 hover:bg-teal-700'">
                            {{ hasDetailBahan(ritem.id) ? '✏️ Edit Detail Bahan' : '➕ Add Detail Bahan' }}
                          </button>
                        </div>
                      </div>
                    </td>
                  </tr>
                </ng-container>
              </tbody>
            </table>            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Modal -->
<div *ngIf="showAddBahanModal" class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50">
  <div class="bg-white rounded-xl shadow-lg w-[90%] max-w-lg p-6">
    <h2 class="text-xl font-semibold mb-4">
      {{ modeEdit ? 'Edit Detail Bahan' : 'Tambah Detail Bahan' }}
    </h2>
    
    <form *ngIf="selectedDetailProjekId !== null" (ngSubmit)="editMode ? updateChecklistBahan(selectedDetailProjekId) : simpanChecklistBahan(selectedDetailProjekId)">

      <div *ngFor="let bahan of dataBahan">
        <label class="flex items-center space-x-2">
          <!-- Checkbox -->
          <input 
            type="checkbox" 
            [(ngModel)]="bahan.selected" 
            [name]="'checkbox_' + bahan.id" 
          />
          <span>{{ bahan.item_name }} - {{ bahan.ukuran }}</span>
        </label>

        <!-- Kondisi: jika item_code 016,018,019 -->
        <div *ngIf="isManualQty(bahan.item_code)" class="ml-6 mt-1">
          <input 
            type="number"
            [(ngModel)]="bahan.qty"
            [name]="'qty_' + bahan.id"
            min="0"
            class="w-24 border rounded-md px-2 py-1 focus:ring focus:ring-teal-300"
            placeholder="Qty"
          />
        </div>

      </div>
      <div class="mt-4 text-right">
        <button
          type="button"
          class="bg-gray-400 text-white px-4 py-2 rounded mr-2"
          (click)="onModalCancel()"
        >
          Cancel
        </button>
      
        <button
          type="submit"
          class="bg-blue-600 text-white px-4 py-2 rounded"
        >
          {{ editMode ? 'Update' : 'Simpan' }}
        </button>
      </div>
      
    </form>
    
    
  </div>
</div>

<!-- Modal -->
<div 
  *ngIf="isModalOpen" 
  class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50"
>
  <div class="bg-white rounded-lg shadow-xl w-11/12 md:w-3/4 lg:w-1/2 max-h-[90vh] overflow-y-auto">
    <!-- Header -->
    <div class="flex justify-between items-center border-b px-4 py-2">
      <h2 class="text-lg font-semibold">Form Detail Projek</h2>
      <button (click)="closeModal()" class="text-gray-500 hover:text-gray-800">&times;</button>
    </div>

    <!-- Form -->
    <form #detailprojekForm="ngForm" class="p-4">

      <!-- Hidden Input -->
      <input
        hidden
        id="id_project_header"
        type="text"
        [(ngModel)]="inputDetailProjek.id_project_header"
        name="id_project_header"
      >

      <!-- Row 1: Lantai & Ruangan -->
      <div class="flex flex-wrap gap-4">
        <div class="form-group flex-1">
          <label for="lantai" class="text-gray-700">Lantai</label>
          <input
            required
            id="lantai"
            type="text"
            class="mt-1 p-2 w-full border rounded-md"
            [(ngModel)]="inputDetailProjek.lantai"
            name="lantai"
            #lantai="ngModel"
            [ngClass]="{'border-red-500': lantai.touched && lantai.invalid}"
          >
        </div>

        <div class="form-group flex-1">
          <label for="ruangan" class="text-gray-700">Ruangan</label>
          <input
            required
            id="ruangan"
            type="text"
            class="mt-1 p-2 w-full border rounded-md"
            [(ngModel)]="inputDetailProjek.ruangan"
            name="ruangan"
            #ruangan="ngModel"
            [ngClass]="{'border-red-500': ruangan.touched && ruangan.invalid}"
          >
        </div>
      </div>

      <!-- Row 2: Bed, Lebar Bahan, Tipe -->
      <div class="flex flex-wrap gap-4 mt-2">
        <div class="form-group flex-1">
          <label for="bed" class="text-gray-700">Bed</label>
          <input
            required
            id="bed"
            type="text"
            class="mt-1 p-2 w-full border rounded-md"
            [(ngModel)]="inputDetailProjek.bed"
            name="bed"
            #bed="ngModel"
            [ngClass]="{'border-red-500': bed.touched && bed.invalid}"
          >
        </div>

        <div class="form-group flex-1">
          <label for="lebar_bahan" class="text-gray-700">Lebar Bahan</label>
          <input
            required
            id="lebar_bahan"
            type="text"
            class="mt-1 p-2 w-full border rounded-md"
            [(ngModel)]="inputDetailProjek.lebar_bahan"
            (ngModelChange)="onLebarBahanChange($event)"
            name="lebar_bahan"
            #lebar_bahan="ngModel"
            [ngClass]="{'border-red-500': lebar_bahan.touched && lebar_bahan.invalid}"
          >
        </div>

        <div class="form-group flex-1">
          <label for="tipe" class="text-gray-700">Tipe</label>
          <input
            required
            id="tipe"
            type="text"
            class="mt-1 p-2 w-full border rounded-md"
            [(ngModel)]="inputDetailProjek.tipe"
            name="tipe"
            #tipe="ngModel"
            [ngClass]="{'border-red-500': tipe.touched && tipe.invalid}"
          >   
        </div>
      </div>

      <!-- Row 3: Ukuran Room -->
      <div class="flex w-full gap-x-4 p-2 mt-2 flex-nowrap">
        <div class="form-group w-1/3">
          <label for="uk_room_l" class="text-gray-700">Ukuran Room L</label>
          <input
            required
            id="uk_room_l"
            type="text"
            class="mt-1 p-2 w-full border rounded-md"
            [(ngModel)]="inputDetailProjek.uk_room_l"
            name="uk_room_l"
            #uk_room_l="ngModel"
            [ngClass]="{'border-red-500': uk_room_l.touched && uk_room_l.invalid}"
          >  
        </div>
      
        <div class="form-group w-1/3">
          <label for="uk_room_p" class="text-gray-700">Ukuran Room P</label>
          <input
            required
            id="uk_room_p"
            type="text"
            class="mt-1 p-2 w-full border rounded-md"
            [(ngModel)]="inputDetailProjek.uk_room_p"
            name="uk_room_p"
            #uk_room_p="ngModel"
            [ngClass]="{'border-red-500': uk_room_p.touched && uk_room_p.invalid}"
          >
        </div>
      
        <div class="form-group w-1/3">
          <label for="uk_room_t" class="text-gray-700">Ukuran Room T</label>
          <input
            required
            id="uk_room_t"
            type="text"
            class="mt-1 p-2 w-full border rounded-md"
            [(ngModel)]="inputDetailProjek.uk_room_t"
            name="uk_room_t"
            #uk_room_t="ngModel"
            [ngClass]="{'border-red-500': uk_room_t.touched && uk_room_t.invalid}"
          >   
        </div>
      </div>

      <!-- Row 4: Stik, Elevasi, Tinggi Lipatan, Tinggi Vitrase, Nilai Pembagi -->
      <div class="flex flex-wrap gap-4 p-2 mt-2">
        <div class="form-group flex-1">
          <label for="stik" class="text-gray-700">Stik</label>
          <input
            required
            id="stik"
            type="number"
            class="mt-1 p-2 w-full border rounded-md"
            [(ngModel)]="inputDetailProjek.stik"
            name="stik"
            #stik="ngModel"
            [ngClass]="{'border-red-500': stik.touched && stik.invalid}"
          >
        </div>
        
        <div class="form-group flex-1">
          <label for="elevasi" class="text-gray-700">Elevasi</label>
          <input
            required
            id="elevasi"
            type="text"
            class="mt-1 p-2 w-full border rounded-md"
            [(ngModel)]="inputDetailProjek.elevasi"
            name="elevasi"
            #elevasi="ngModel"
            [ngClass]="{'border-red-500': elevasi.touched && elevasi.invalid}"
          >  
        </div>

        <div class="form-group flex-1">
          <label for="tinggi_lipatan" class="text-gray-700">Tinggi Lipatan</label>
          <select
            required
            id="tinggi_lipatan"
            class="mt-1 p-2 w-full border rounded-md"
            [(ngModel)]="inputDetailProjek.tinggi_lipatan"
            name="tinggi_lipatan"
            #tinggi_lipatan="ngModel"
            [ngClass]="{'border-red-500': tinggi_lipatan.touched && tinggi_lipatan.invalid}"
            (ngModelChange)="onTinggiLipatanChange($event)"
          >
            <option [ngValue]="25">25</option>
            <option [ngValue]="30">30</option>
          </select>
        </div> 

        <div class="form-group flex-1">
          <label for="tinggi_vitrase" class="text-gray-700">Tinggi Vitrase</label>
          <input
            id="tinggi_vitrase"
            type="text"
            class="mt-1 p-2 w-full border rounded-md"
            [(ngModel)]="inputDetailProjek.tinggi_vitrase"
            name="tinggi_vitrase"
            #tinggi_vitrase="ngModel"
            [disabled]="inputDetailProjek.tinggi_lipatan === 25"
            [ngClass]="{'border-red-500': tinggi_vitrase.touched && tinggi_vitrase.invalid}"
          >
        </div>

        <div class="form-group flex-1">
          <label for="nilai_pembagi" class="text-gray-700">Nilai Pembagi</label>
          <input
            [disabled]="isDisabled"
            id="nilai_pembagi"
            type="text"
            class="mt-1 p-2 w-full border rounded-md"
            [(ngModel)]="inputDetailProjek.nilai_pembagi"
            name="nilai_pembagi"
            #nilai_pembagi="ngModel"
            [ngClass]="{'border-red-500': nilai_pembagi.touched && nilai_pembagi.invalid}"
          >
        </div>
      </div>

      <!-- Buttons -->
      <div class="flex justify-end gap-2 mt-4">
        <button 
          type="button"
          (click)="closeModal()" 
          class="px-4 py-2 bg-red-600 text-white rounded-md hover:bg-red-700"
        >
          Cancel
        </button>

        <button 
          *ngIf="!visible" 
          (click)="onSimpan(detailprojekForm)" 
          type="button" 
          class="px-4 py-2 bg-green-600 text-white rounded-md hover:bg-green-700"
        >
          Add
        </button>

        <button 
          *ngIf="visible" 
          (click)="onUpdate(detailprojekForm)" 
          type="button" 
          class="px-4 py-2 bg-blue-600 text-white rounded-md hover:bg-blue-700"
        >
          Update
        </button>
      </div>
    </form>
  </div>
</div>
