<!-- userprofile.component.html -->
<header aria-label="page caption" class="flex-grow flex h-16 bg-gray-100 border-t py-2 px-4 items-center">
  <h1 id="page-caption" class="font-semibold text-lg">Edit User</h1>
</header>
<section aria-label="main content" class="flex flex-col flex-auto border-l py-2 px-4 h-full mt-2">
  <form class="flex flex-col">
    <div class="flex flex-col md:flex-row border-l gap-2 w-full overflow-x-auto">
      <div class="w-full md:w-1/4 bg-gray-200 p-2">
        <div class="flex flex-wrap justify-center w-full bg-gray-100 pr-1 rounded-lg shadow-md text-center flex items-center w-full">
          <div class="bg-gray-100 px-2 relative flex flex-col items-center">
            <img class="w-full rounded-full mb-4" [src]="formData.photo_url" alt="photo" />
          </div>
          <div class="absolute mt-16 z-10 bg-white/90 rounded-full p-2 cursor-pointer">
            <input type="file" name="profile" id="upload_profile" class="hidden" (change)="onFileSelected($event)">
            <label for="upload_profile" class="flex items-center justify-center w-8 h-8 text-blue-700">
              <svg class="w-6 h-6" fill="none" stroke-width="1.5" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6.827 6.175A2.31 2.31 0 0 1 5.186 7.23c-.38.054-.757.112-1.134.175C2.999 7.58 2.25 8.507 2.25 9.574V18a2.25 2.25 0 0 0 2.25 2.25h15A2.25 2.25 0 0 0 21.75 18V9.574c0-1.067-.75-1.994-1.802-2.169a47.865 47.865 0 0 0-1.134-.175 2.31 2.31 0 0 1-1.64-1.055l-.822-1.316a2.192 2.192 0 0 0-1.736-1.039 48.774 48.774 0 0 0-5.232 0 2.192 2.192 0 0 0-1.736 1.039l-.821 1.316Z"></path>
                <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 12.75a4.5 4.5 0 1 1-9 0 4.5 4.5 0 0 1 9 0ZM18.75 10.5h.008v.008h-.008V10.5Z"></path>
              </svg>
            </label>
          </div>
        </div>
      </div>
      <div class="w-full bg-gray-400 p-1">
        <header aria-label="page caption" class="flex-grow flex h-16 bg-gray-100 border-t px-2 py-2 items-center w-full">
          <div class="mx-2 mt-2 rounded-r">
            <h1 id="page-caption" class="flex-col font-semibold text-lg">Detail User</h1>
          </div>
        </header>
        <div class="w-full bg-gray-200 p-2">
          <div class="container px-2 mx-auto py-4 border-gray-500 shadow-lg">
            <div class="form-group flex flex-col gap-4 md:flex-row">
              <div class="flex flex-col gap-2 w-full">
                <label class="text-gray-700">Username</label>
                <input type="text" class="p-2 border-2 rounded-lg" [(ngModel)]="formData.username" name="username">
              </div>

              <div class="flex flex-col gap-2 w-full">
                <label class="text-gray-700">Email</label>
                <input type="text" class="p-2 border-2 rounded-lg" [(ngModel)]="formData.email" name="email">
              </div>
            </div>
            <div class="flex flex-col gap-2 w-full">
              <label class="text-gray-700">Nama Lengkap</label>
              <input type="text" class="p-2 border-2 rounded-lg" [(ngModel)]="formData.nmlengkap" name="namaLengkap">
            </div>
            <div class="form-group flex flex-col gap-4 md:flex-row">
              <div class="flex flex-col gap-2 w-full">
                <label class="text-gray-700">Gender</label>
                <select class="p-2 border-2 rounded-lg" [(ngModel)]="formData.gender" name="gender">
                  <option disabled value="">Pilih</option>
                  <option value="L">Laki-laki</option>
                  <option value="P">Perempuan</option>
                </select>
              </div>
              <div class="flex flex-col gap-2 w-full">
                <label class="text-gray-700">No WA</label>
                <input type="text" class="p-2 border-2 rounded-lg" [(ngModel)]="formData.nowa" name="noWa">
              </div>
            </div>
            <div class="form-group flex flex-col gap-4 md:flex-row">
              <div class="flex flex-col gap-2 w-full">
                <label class="text-gray-700">Alamat</label>
                <input type="text" class="p-2 border-2 rounded-lg" [(ngModel)]="formData.alamat" name="alamat">
              </div>
            </div>
            <div class="form-group flex flex-col gap-4 md:flex-row">
              <div class="flex flex-col gap-2 w-full">
                <label class="text-gray-700">Tipe Role</label>
                <select 
                  id="idrole" 
                  [(ngModel)]="formData.idrole" 
                  name="idrole" 
                  class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                >
                  <option *ngFor="let option of roleOptions" [value]="option.value">{{ option.label }}</option>
                </select>
              </div>   
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-wrap">
      <button type="button" class="mt-2 w-1/2 bg-gray-500 text-white text-lg font-semibold p-4 rounded-lg hover:bg-teal-700" (click)="onCancel()">Cancel</button>
      <button type="button" class="mt-2 w-1/2 bg-teal-500 text-white text-lg font-semibold p-4 rounded-lg hover:bg-teal-700" (click)="onUpdate()">Update</button>
    </div>
    <!-- Progress bar display -->
    <div *ngIf="uploadProgress > 0">
      <p>Uploading: {{ uploadProgress }}%</p>
      <progress [value]="uploadProgress" max="100"></progress>
    </div>
  </form>
</section>
