<header aria-label="page caption" class="flex-none flex h-12 bg-gray-200 border-t px-4 items-center">
  <h1 id="page-caption" class="font-bold text-lg"><p>Input Detail Project</p></h1>
</header>
<section aria-label="main content" class="flex flex-col flex-auto border-l py-2 h-full">
  <div class="flex flex-wrap">
    <!-- Div Kiri-->
    <div class="flex flex-wrap w-full md:w-1/4 px-2 mb-2">
      <div class="bg-gray-100 p-1 rounded-lg shadow-md w-full">
        <div class="bg-white rounded-lg shadow w-full">
          <!-- Card Header -->
          <div class="bg-teal-500 text-white px-4 py-1 rounded-t-lg">
            Info Header Project
          </div>
          <!-- Content -->
          <div class="bg-white text-gray-800 px-2 py-1 rounded-lg">
            <div class="w-full">
              <div class="flex flex-col">
                <div class="form-group">
                  <p class="bg-gray-100"><strong>No Project:</strong></p>
                  <p class="text-blue-gray-500 text-left px-10">{{ dataProjek.no_project }}</p>
                </div>
                <div class="form-group">
                  <p class="bg-gray-100"><strong>Tgl Project:</strong></p>
                  <p class="text-blue-gray-500 text-left px-10"> {{ formatTglView(dataProjek.tgl_project) }}</p>
                </div>
                <div class="form-group">
                  <p class="bg-gray-100"><strong>Keterangan Project:</strong></p>
                  <p class="text-blue-gray-500 text-left px-10">{{ dataProjek.ket_project }}</p>
                </div>
                <div class="form-group">
                  <p class="bg-gray-100"><strong>Nama Customer:</strong></p>
                  <p class="text-blue-gray-500 text-left px-10"> {{ dataProjek.nama_customer }}</p>
                </div>
                <div class="form-group">
                  <p class="bg-gray-100"><strong>Alamat Customer:</strong></p>
                  <p class="text-blue-gray-500 text-left px-10"> {{ dataProjek.addr_customer }}</p>
                </div>
                <div class="form-group">
                  <p class="bg-gray-100"><strong>Kontak Customer:</strong></p>
                  <p class="text-blue-gray-500 text-left px-10"> {{ dataProjek.contact_customer }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>      
    </div>
    <!-- div kanan-->
    <div class="flex flex-wrap w-full md:w-3/4 px-2 mb-2">
      <div class="bg-gray-100 p-1 rounded-lg shadow-md w-full">
        <!-- Content -->
        <!-- div input detail -->
        <div class="bg-white rounded-lg shadow w-full">
          <form #detailprojekForm="ngForm">
            <div>
              <!-- Input Hidden untuk id project-->
              <input
                hidden
                id="id_project_header"
                type="text"
                [(ngModel)]="inputDetailProjek.id_project_header"
                name="id_project_header"
                #id_project_header="ngModel"
              >
            </div>
            <div class="flex flex-wrap gap-4 p-2">
              <div class="form-group flex-1">
                <label class="text-gray-700" for="bed">Bed</label>
                <input
                  required
                  id="bed"
                  type="text"
                  class="mt-1 p-2 w-full border rounded-md"
                  [(ngModel)]="inputDetailProjek.bed"
                  name="bed"
                  #bed="ngModel"
                  [ngClass]="{'border-red-500': bed.touched && bed.invalid}"
                >
                <div *ngIf="bed.touched && bed.invalid" class="text-red-500 text-sm">
                  Bed is required.
                </div> 
              </div>
              <div class="form-group flex-1">
                <label class="text-gray-700" for="ruangan">Ruangan</label>
                <input
                  required
                  id="ruangan"
                  type="text"
                  class="mt-1 p-2 w-full border rounded-md"
                  [(ngModel)]="inputDetailProjek.ruangan"
                  name="ruangan"
                  #ruangan="ngModel"
                  [ngClass]="{'border-red-500': ruangan.touched && ruangan.invalid}"
                >
                <div *ngIf="ruangan.touched && ruangan.invalid" class="text-red-500 text-sm">
                  Ruangan is required.
                </div>  
              </div>
              <div class="form-group flex-1">
                <label class="text-gray-700" for="lantai">Lantai</label>
                <input
                  required
                  id="lantai"
                  type="text"
                  class="mt-1 p-2 w-full border rounded-md"
                  [(ngModel)]="inputDetailProjek.lantai"
                  name="lantai"
                  #lantai="ngModel"
                  [ngClass]="{'border-red-500': lantai.touched && lantai.invalid}"
                >
                <div *ngIf="lantai.touched && lantai.invalid" class="text-red-500 text-sm">
                  Lantai is required.
                </div>  
              </div>
              <div class="form-group flex-1">
                <label class="text-gray-700" for="lebar_bahan">Lebar Bahan</label>
                    <input
                      required
                      id="lebar_bahan"
                      type="text"
                      class="mt-1 p-2 w-full border rounded-md"
                      [(ngModel)]="inputDetailProjek.lebar_bahan"
                      name="lebar_bahan"
                      #lebar_bahan="ngModel"
                      [ngClass]="{'border-red-500': lebar_bahan.touched && lebar_bahan.invalid}"
                    >
                    <div *ngIf="lebar_bahan.touched && lebar_bahan.invalid" class="text-red-500 text-sm">
                      Lebar Bahan is required.
                    </div>
              </div>
              <div class="form-group flex-1">
                <label class="text-gray-700" for="tipe">Tipe</label>
                <input
                  required
                  id="tipe"
                  type="text"
                  class="mt-1 p-2 w-full border rounded-md"
                  [(ngModel)]="inputDetailProjek.tipe"
                  name="tipe"
                  #tipe="ngModel"
                  [ngClass]="{'border-red-500': tipe.touched && tipe.invalid}"
                >
                <div *ngIf="tipe.touched && tipe.invalid" class="text-red-500 text-sm">
                  Tipe is required.
                </div>    
              </div>
            </div>

            <div class="flex flex-wrap gap-4 p-2 mt-1">
              <div class="form-group flex-1">
                <label class="text-gray-700" for="uk_room_l">Ukuran Room L</label>
                <input
                  required
                  id="uk_room_l"
                  type="text"
                  class="mt-1 p-2 w-full border rounded-md"
                  [(ngModel)]="inputDetailProjek.uk_room_l"
                  name="uk_room_l"
                  #uk_room_l="ngModel"
                  [ngClass]="{'border-red-500': uk_room_l.touched && uk_room_l.invalid}"
                >
                <div *ngIf="uk_room_l.touched && uk_room_l.invalid" class="text-red-500 text-sm">
                  Ukuran Room L is required.
                </div>    
              </div>
              
              <div class="form-group flex-1">
                <label class="text-gray-700" for="uk_room_p">Ukuran Room P</label>
                <input
                  required
                  id="uk_room_p"
                  type="text"
                  class="mt-1 p-2 w-full border rounded-md"
                  [(ngModel)]="inputDetailProjek.uk_room_p"
                  name="uk_room_p"
                  #uk_room_p="ngModel"
                  [ngClass]="{'border-red-500': uk_room_p.touched && uk_room_p.invalid}"
                >
                <div *ngIf="uk_room_p.touched && uk_room_p.invalid" class="text-red-500 text-sm">
                  Ukuran Room P is required.
                </div>    
              </div>
              
              <div class="form-group flex-auto">
                <label class="text-gray-700" for="uk_room_t">Ukuran Room T</label>
                <input
                  required
                  id="uk_room_t"
                  type="text"
                  class="mt-1 p-2 w-full border rounded-md"
                  [(ngModel)]="inputDetailProjek.uk_room_t"
                  name="uk_room_t"
                  #uk_room_t="ngModel"
                  [ngClass]="{'border-red-500': uk_room_t.touched && uk_room_t.invalid}"
                >
                <div *ngIf="uk_room_t.touched && uk_room_t.invalid" class="text-red-500 text-sm">
                  Ukuran Room T is required.
                </div>    
              </div>
            </div>

            <div class="flex flex-wrap gap-4 p-2">
              <div class="form-group flex-1">
                <label class="text-gray-700" for="stik">Stik</label>
                <input
                  required
                  id="stik"
                  type="text"
                  class="mt-1 p-2 w-full border rounded-md"
                  [(ngModel)]="inputDetailProjek.stik"
                  name="stik"
                  #stik="ngModel"
                  [ngClass]="{'border-red-500': stik.touched && stik.invalid}"
                >
                <div *ngIf="stik.touched && stik.invalid" class="text-red-500 text-sm">
                  Stik is required.
                </div>    
              </div>
              
              <div class="form-group flex-1">
                <label class="text-gray-700" for="elevasi">Elevasi</label>
                <input
                  required
                  id="elevasi"
                  type="text"
                  class="mt-1 p-2 w-full border rounded-md"
                  [(ngModel)]="inputDetailProjek.elevasi"
                  name="elevasi"
                  #elevasi="ngModel"
                  [ngClass]="{'border-red-500': elevasi.touched && elevasi.invalid}"
                >
                <div *ngIf="elevasi.touched && elevasi.invalid" class="text-red-500 text-sm">
                  Elevasi is required.
                </div>    
              </div>
              
              <div class="form-group flex-1">
                <label class="text-gray-700" for="tinggi_vitrase">Tinggi Vitrase</label>
                <input
                  required
                  id="tinggi_vitrase"
                  type="text"
                  class="mt-1 p-2 w-full border rounded-md"
                  [(ngModel)]="inputDetailProjek.tinggi_vitrase"
                  name="tinggi_vitrase"
                  #tinggi_vitrase="ngModel"
                  [ngClass]="{'border-red-500': tinggi_vitrase.touched && tinggi_vitrase.invalid}"
                >
                <div *ngIf="tinggi_vitrase.touched && tinggi_vitrase.invalid" class="text-red-500 text-sm">
                  Tinggi Vitrase is required.
                </div>    
              </div>
              <div class="form-group flex-1">
                <label class="text-gray-700" for="tinggi_lipatan">Tinggi Lipatan</label>
                <input
                  required
                  id="tinggi_lipatan"
                  type="text"
                  class="mt-1 p-2 w-full border rounded-md"
                  [(ngModel)]="inputDetailProjek.tinggi_lipatan"
                  name="tinggi_lipatan"
                  #tinggi_lipatan="ngModel"
                  [ngClass]="{'border-red-500': tinggi_lipatan.touched && tinggi_lipatan.invalid}"
                >
                <div *ngIf="tinggi_lipatan.touched && tinggi_lipatan.invalid" class="text-red-500 text-sm">
                  Tinggi Lipatan is required.
                </div>    
              </div>
              
              <div class="form-group flex-1">
                <label class="text-gray-700" for="nilai_pembagi">Nilai Pembagi</label>
                <input
                  required
                  id="nilai_pembagi"
                  type="text"
                  class="mt-1 p-2 w-full border rounded-md"
                  [(ngModel)]="inputDetailProjek.nilai_pembagi"
                  name="nilai_pembagi"
                  #nilai_pembagi="ngModel"
                  [ngClass]="{'border-red-500': nilai_pembagi.touched && nilai_pembagi.invalid}"
                >
                <div *ngIf="nilai_pembagi.touched && nilai_pembagi.invalid" class="text-red-500 text-sm">
                  Nlai Pembagi is required.
                </div>    
              </div>
            </div>
            <!-- Buttons -->
            <div class="bg-gray-200 p-1 rounded-lg shadow-md w-full">
              <div class="bg-white rounded-lg shadow p-2 w-full">
                <div *ngIf="!visible" class="mt-2">
                  <button 
                    (click)="onCancel()" 
                    type="button" 
                    class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500"
                  >
                    Cancel
                  </button>
                  <button 
                    (click)="onSimpan(detailprojekForm)" 
                    type="button" 
                    class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-green-600 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500 ml-2"
                  >
                    Add
                  </button>
                </div>
                <div *ngIf="visible" class="mt-2">
                  <button 
                    (click)="onCancel()" 
                    type="button" 
                    class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500"
                  >
                    Cancel
                  </button>
                  <button 
                    (click)="onUpdate(detailprojekForm)" 
                    type="button" 
                    class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 ml-2"
                  >
                    Update
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <br />
  <!-- table detail-->
  <div class="flex flex-col flex-auto border-l py-2">
    <div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4">
      <!-- Add overflow-x-auto to enable horizontal scrolling -->
      <div class="overflow-x-auto">
        <div class="inline-block min-w-full shadow rounded-lg overflow-x-auto">
          <table class="min-w-full leading-normal">
            <thead class="sticky top-0">
              <tr>
                <th class="px-2 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-bold text-gray-600 tracking-wider">#</th>
                <th class="px-3 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-bold text-gray-600 tracking-wider">Lebar Bahan</th>
                <th class="px-3 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-bold text-gray-600 tracking-wider">Lantai</th>
                <th class="px-3 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-bold text-gray-600 tracking-wider">Ruangan</th>
                <th class="px-3 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-bold text-gray-600 tracking-wider">Bed</th>
                <th class="px-3 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-bold text-gray-600 tracking-wider">Tipe</th>
                <th class="px-3 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-bold text-gray-600 ">Uk Room-L</th>
                <th class="px-3 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-bold text-gray-600 ">Uk Room-P</th>
                <th class="px-3 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-bold text-gray-600 ">Uk Room-T</th>
                <th class="px-3 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-bold text-gray-600 tracking-wider">Stik</th>
                <th class="px-3 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-bold text-gray-600 tracking-wider">Elevasi</th>
                <th class="px-3 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-bold text-gray-600 tracking-wider">T Vitrase</th>
                <th class="px-3 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-bold text-gray-600 tracking-wider">T Lipatan</th>
                <th class="px-3 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-bold text-gray-600 tracking-wider">Nilai Pembagi</th>
                <th class="px-3 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-bold text-gray-600 tracking-wider">Aksi</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let ritem of dataDetailProjek; index as i">
                <td class="px-2 py-3 border-b border-gray-200 bg-white text-sm">{{ (pageSize * (page - 1) + i) + 1 }}</td>
                <td class="px-3 py-3 border-b border-gray-200 bg-white text-sm">
                  <p class="text-gray-900 whitespace-no-wrap">{{ritem.id_project_header}}</p>
                </td>
                <td class="px-3 py-3 border-b border-gray-200 bg-white text-sm">
                  <p class="text-gray-900 whitespace-no-wrap">{{ritem.lebar_bahan}}</p>
                </td>
                <td class="px-3 py-3 border-b border-gray-200 bg-white text-sm">
                  <p class="text-gray-900 whitespace-no-wrap">{{ritem.lantai}}</p>
                </td>
                <td class="px-3 py-3 border-b border-gray-200 bg-white text-sm">
                  <p class="text-gray-900 whitespace-no-wrap">{{ritem.ruangan}}</p>
                </td>
                <td class="px-3 py-3 border-b border-gray-200 bg-white text-sm">
                  <p class="text-gray-900 whitespace-no-wrap">{{ ritem.bed }}</p>
                </td>
                <td class="px-3 py-3 border-b border-gray-200 bg-white text-sm">
                  <p class="text-gray-900 whitespace-no-wrap">{{ ritem.tipe }}</p>
                </td>
                <td class="px-3 py-3 border-b border-gray-200 bg-white text-sm">
                  <p class="text-gray-900 whitespace-no-wrap">{{ ritem.uk_room_l }}</p>
                </td>
                <td class="px-3 py-3 border-b border-gray-200 bg-white text-sm">
                  <p class="text-gray-900 whitespace-no-wrap">{{ ritem.uk_room_p }}</p>
                </td>
                <td class="px-3 py-3 border-b border-gray-200 bg-white text-sm">
                  <p class="text-gray-900 whitespace-no-wrap">{{ ritem.uk_room_t }}</p>
                </td>
                <td class="px-3 py-3 border-b border-gray-200 bg-white text-sm">
                  <p class="text-gray-900 whitespace-no-wrap">{{ ritem.stik }}</p>
                </td>
                <td class="px-3 py-3 border-b border-gray-200 bg-white text-sm">
                  <p class="text-gray-900 whitespace-no-wrap">{{ ritem.elevasi}}</p>
                </td>
                <td class="px-3 py-3 border-b border-gray-200 bg-white text-sm">
                  <p class="text-gray-900 whitespace-no-wrap">{{ ritem.tinggi_vitrase }}</p>
                </td>
                <td class="px-3 py-3 border-b border-gray-200 bg-white text-sm">
                  <p class="text-gray-900 whitespace-no-wrap">{{ ritem.tinggi_lipatan }}</p>
                </td>
                <td class="px-3 py-3 border-b border-gray-200 bg-white text-sm">
                  <p class="text-gray-900 whitespace-no-wrap">{{ ritem.nilai_pembagi }}</p>
                </td>
                <td class="px-3 py-3 border-b border-gray-200 bg-white text-sm">
                  <button (click) = "onEdit(ritem.id)" title="Edit" class="relative align-middle select-none font-sans font-medium text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none w-10 max-w-[40px] h-10 max-h-[40px] rounded-lg text-xs text-blue-gray-500 hover:bg-blue-gray-500/10 active:bg-blue-gray-500/30" type="button">
                    <span class="absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgb(245, 7, 153);"><path d="m18.988 2.012 3 3L19.701 7.3l-3-3zM8 16h3l7.287-7.287-3-3L8 13z"></path><path d="M19 19H8.158c-.026 0-.053.01-.079.01-.033 0-.066-.009-.1-.01H5V5h6.847l2-2H5c-1.103 0-2 .896-2 2v14c0 1.104.897 2 2 2h14a2 2 0 0 0 2-2v-8.668l-2 2V19z"></path></svg>
                    </span>
                  </button>
                  <button (click) = "onDeleted(ritem.id)" title="Hapus" class="relative align-middle select-none font-sans font-medium text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none w-10 max-w-[40px] h-10 max-h-[40px] rounded-lg text-xs text-blue-gray-500 hover:bg-blue-gray-500/10 active:bg-blue-gray-500/30" type="button">
                    <span class="absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M5 20a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V8h2V6h-4V4a2 2 0 0 0-2-2H9a2 2 0 0 0-2 2v2H3v2h2zM9 4h6v2H9zM8 8h9v12H7V8z"></path><path d="M9 10h2v8H9zm4 0h2v8h-2z"></path></svg>
                    </span>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
