<header aria-label="page caption" class="flex-none flex h-16 bg-gray-200 border-t px-4 items-center">
  <h1 id="page-caption" class="font-semibold text-lg">{{ mode === 'edit' ? 'Edit' : 'Add New' }} Projek</h1>
</header>
<section aria-label="main content" class="flex flex-col flex-auto border-l py-2 px-4 h-full mt-2">
  <div *ngIf="isNongolMessage" class="fixed top-4 right-4 bg-blue-500 text-white px-4 py-2 rounded shadow-lg">
    {{ messageText }}
  </div>
  <div class="w-full p-4 bg-white shadow-2xl rounded-xl">
    <!--
    <form #formData="ngForm" (ngSubmit)="mode === 'edit' ? onUpdate(formData) : onSimpan(formData)">
  <label>No Project</label>
  <input type="text" [(ngModel)]="dataInputProjek.no_project" name="no_project" required>

  <label>Tanggal Project</label>
  <input type="date" [(ngModel)]="dataInputProjek.tgl_project" name="tgl_project" required>

  <label>Keterangan</label>
  <textarea [(ngModel)]="dataInputProjek.ket_project" name="ket_project"></textarea>

  <label>Nama Customer</label>
  <input type="text" [(ngModel)]="dataInputProjek.nama_customer" name="nama_customer" required>

  <label>Alamat Customer</label>
  <input type="text" [(ngModel)]="dataInputProjek.addr_customer" name="addr_customer">

  <label>Kontak Customer</label>
  <input type="text" [(ngModel)]="dataInputProjek.contact_customer" name="contact_customer">

  <label>Status Project</label>
  <select [(ngModel)]="dataInputProjek.status_project" name="status_project">
    <option *ngFor="let option of statusProjectOptions" [value]="option.key">
      {{ option.value }}
    </option>
  </select>

  <button type="submit">{{ mode === 'edit' ? 'Update' : 'Simpan' }}</button>
</form>

    -->
    <form #formData="ngForm" (ngSubmit)="mode === 'edit' ? onUpdate(formData) : onSimpan(formData)">
      <div class="form-group flex flex-col gap-4 md:flex-row">
        <div class="flex flex-col gap-2 w-full">
          <label class="text-gray-700" for="no_project">No Projek</label>
          <input
            required
            id="no_project"
            type="text"
            class="p-2 border-2 rounded-lg"
            [(ngModel)]="dataInputProjek.no_project"
            name="no_project"
          >
        </div>
        <div class="flex flex-col gap-2 w-full">
          <label class="text-gray-700" for="tgl_project">Tanggal Projek</label>
          <app-datepicker [(ngModel)]="dataInputProjek.tgl_project" 
            name="tgl_project"
            class="border-2 rounded-lg"
            (dateChange)="onDateSelected($event)">
          </app-datepicker>
        </div>      
      </div>
      <div class="form-group flex flex-col gap-4 md:flex-row">
        <div class="flex flex-col gap-2 w-full">
          <label class="text-gray-700" for="ket_project">Keterangan</label>
          <textarea
            required
            id="ket_project"
            class="p-2 border-2 rounded-lg"
            [(ngModel)]="dataInputProjek.ket_project"
            name="ket_project"
          ></textarea>
        </div>
      </div>
      <div class="form-group flex flex-col gap-4 md:flex-row">
        <div class="flex flex-col gap-2 w-full">
          <label class="text-gray-700" for="nama_customer">Customer</label>
          <input
            required
            id="nama_customer"
            type="text"
            class="p-2 border-2 rounded-lg"
            [(ngModel)]="dataInputProjek.nama_customer"
            name="nama_customer"
          >
        </div>
        <div class="flex flex-col gap-2 w-full">
          <label class="text-gray-700" for="addr_customer">Alamat Customer</label>
          <input
            required
            id="addr_customer"
            type="text"
            class="p-2 border-2 rounded-lg"
            [(ngModel)]="dataInputProjek.addr_customer"
            name="addr_customer"
          >
        </div>     
      </div>
      <div class="form-group flex flex-col gap-4 md:flex-row">
        <div class="flex flex-col gap-2 w-full">
          <label class="text-gray-700" for="contact_customer">Kontak Customer</label>
          <input
            required
            id="contact_customer"
            type="text"
            class="p-2 border-2 rounded-lg"
            [(ngModel)]="dataInputProjek.contact_customer"
            name="contact_customer"
          >
        </div>
         <!-- Select Dropdown -->
        <div class="flex flex-col gap-2 w-full">
          <label class="text-gray-700" for="status_project">Project Status</label>
          <select
            required
            id="status_project"
            class="p-2 border-2 rounded-lg"
            [(ngModel)]="dataInputProjek.status_project"
            name="status_project"
          >
            <option *ngFor="let option of statusProjectOptions" [value]="option.key">{{ option.value }}</option>
          </select>
        </div>    
      </div>
      <!-- Buttons -->
      <div *ngIf="mode === 'add'" class="mt-2">
        <button 
          (click)="onCancel()" 
          type="button" 
          class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500"
        >
          Cancel
        </button>
        <button 
          (click)="onSimpan(projekForm)" 
          type="button" 
          class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-green-600 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500 ml-2"
        >
          Simpan
        </button>
      </div>
      <div *ngIf="mode === 'edit'" class="mt-2">
        <button 
          (click)="onCancel()" 
          type="button" 
          class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500"
        >
          Cancel
        </button>
        <button 
          (click)="onUpdate(projekForm)" 
          type="button" 
          class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 ml-2"
        >
          Update
        </button>
      </div>
    </form>
  </div>
</section>
    